[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
user-roles = "python3 -m user_roles"

[packages]
certifi = "*"
python_dateutil = "*"
six = "*"
urllib3 = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.14"
full_puthon_version = "3.14.1"
