[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
user-roles = "python3 -m user_roles"

[packages]
urllib3 = "~=1.15.1"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
